    /*********************************/
/* PAGE INTROS */
/*********************************/

.page-intros {
    text-align: center;
    font-family: GothamMedium;
    margin: 150px 10% 75px 10%;

}

.page-intros > h2 {
    font-size: 3.5em;
    margin: 0;
}

/*********************************/
/* PAGE ONE */
/*********************************/


#pg1 {
    height: 100vh;
    margin-top: -83px;
/*    flex-direction: column;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../images/Optimized-self1.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    display:flex;
    align-items: center;
    justify-content: center;

}

#pg1 > div > h1 {
    font-family: AvenirLight;
    font-weight: 100;
    font-size: 3.5em;
    line-height: 1.25em;
    margin: 0 10%;
    text-align: center;
}

.letters {
    color: #ddd;
}

.dash {
    text-decoration: line-through;
}

#down-arrow {
    position: absolute;
    bottom: 30px;
    width: 40px;
}

/*********************************/
/* PAGE TWO */
/*********************************/

#pg2 {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.pg2-row {
    flex-grow: 1;
    flex-basis: 50%;
}

.pg2-row > img {
    width: 100%;
    margin: 0;
}

.pg2-row > h3 {
    font-family: GothamMedium;
    font-weight: 400;
    font-size: 2em;
    line-height: 1.5em;
    padding: 0 10%;
    margin: 0;
    margin-bottom: 20px;
}

.pg2-row > ul {
    font-family: AvenirLight;
    list-style: none;
    font-size: 1.5em;
    line-height: 1.5em;
    padding: 0 10%;
    margin: 0;
}

#secret-fact {
    font-size: 0.5em;
}

hr {
    width: 275px;
    height: 0px;
    border: none;
    margin-bottom: 50px;
}

.social-icons {
    text-align: center;
}

.social-media {
    width: 50px;
    height: 50px;
    margin: 25px 25px;
}

/*********************************/
/* PAGE THREE */
/*********************************/


#pg3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pg3-row {
    flex-basis: 49%;
    flex-grow: 1;
    text-align: center;
    margin-bottom: 20px;
    margin: 1px;
    background-color: #F5F5F5;
}

.pg3-img > img {
    width: 100%;
    opacity: 1;
    transition: opacity .7s ease-out;
    -moz-transition: opacity .7s ease-out;
    -webkit-transition: opacity .7s ease-out;
    -o-transition: opacity .7s ease-out;
}

.pg3-img:hover > img {
    opacity: 0.7;
}

.pg3-text {
    padding: 5% 0;
    width: 100%;
}

.pg3-text > h2 {
    font-family: GothamMedium;
    font-size: 2em;
    bottom: 3em;
    margin: 0;
}

.pg3-text > h3 {
    font-family: AvenirLight;
    font-style: italic;
    font-size: 1.2em;
    bottom: 3em;
    margin: 0;
    margin-top: 10px;
}

.pg3-text > p {
    font-family: AvenirLight;
    font-size: 1.25em;
    line-height: 1.5em;
    margin: 15px 0;
}

.breaker {
    width: 275px;
    height: 0.1px;
    border: none;
}

/********************************/
/* PAGE FOUR */
/*********************************/

a {
    margin: 0;
    padding: 0;
    border: 0;
}


#my-ventures {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ventures {
    flex-basis: 33.33%;
    flex-grow: 1;
    position: relative;
}

.ventures-img {
    width: 100%;
    display: block;
    height: auto;
}

hr {
    width: 320px;
    margin: 0;
    margin-top: -2px;
}

figure {
    margin: 0;
}

.ventures-figure {
    position: relative;
    padding: 0;
    margin: 0;
}

.ventures-figure > img {
    display: block;
    max-width: 100%;
    height: auto;
}

.ventures-content {
    text-align: center;
    opacity: 0;
    display: block;
    position: absolute;
    width: 100%;
    color: #FFF;
    left: 0;
    bottom: 0;
    padding: 1.2em;
    z-index: 2;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.9);
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .7s ease-in-out;
}

.ventures-content > h2 {
    margin-top: 15px;
    font-size: 2.5em;
    font-family: GothamMedium;
    color: #fff;
}

.ventures-content > h3 {
    font-family: AvenirLight;
    font-style: italic;
    color: #fff;
}

.ventures-content > p {
    font-family: AvenirLight;
    color: #fff;
}
.ventures-figure:hover .ventures-content {
    opacity: 1;
}


/********************************
/* PAGE FIVE */
/*********************************/


#pg5 {
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.pg5-row {
    flex-direction: row;
    flex-wrap: wrap;
    height: 550px;
    position: relative;
}

.pg5-row:nth-child(1) {
    flex-grow: 1;
    flex-basis: 50%;
    margin-bottom: 50px;
}

#mapTitle {
    color: #212121;
    position: absolute;
    margin-top: 1em;
    font-size: 24px;
    font-family: GothamMedium;
    font-weight: 400;
    line-height: 1.5em;
}

#map {
    height: 100%;
    padding: 0 155px;
}

.pg5-row:nth-child(2) {
    flex-grow: 1;
    flex-basis: 30%;
    padding: 0 0 0 5%;
}

.pg5-row > h3 {
    color: #212121;
    margin: 0;
    font-family: GothamMedium;
    font-weight: 400;
    font-size: 2em;
    line-height: 1.5em;
}

.pg5-row > hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000;
    margin: 25px 50% 0 0;
}

.pg5-row > p {
    font-family: AvenirLight;
    color: #212121;
    font-size: 1.5em;
    margin: 0.5em 0 1.5em 0;
    line-height: 1.5em;
}

input {
    text-decoration: none;
    font-family: GothamLight;
    font-weight: 900;
    width: 125px;
    height: 3em;
    border: 2px solid black;
    background: #fff;
    color: #212121;

}
