/********************************/
/* GLOBALS */
/*********************************/

body {
    color: #212121;
}

h1 {
    color: #212121;
}

h2 {
    color: #212121;
}

h3 {
    color: #212121;
}

p {
    color: #212121;
}

a {
    color: #212121;
}
/********************************/
/* CONSTANTS */
/*********************************/

#menu-icon {
    z-index: 3;
    position: fixed;
    top: 20px;
    right: 35px;
    height: 25px;
    width: 25px;
}

#scroll-up-icon {
    position: fixed;
    bottom: 35px;
    right: 35px;
    width: 75px;
    height: 75px;
}

.fixed-items > h3 {
    z-index: 3;
    position: fixed;
    top: 25px;
    right: 75px;
    margin: 0;
    font-size: 14px;
    font-family: AvenirBook;
    letter-spacing: 1px;
}

#menu {
    text-align: center;
    z-index: 3;
    position: fixed;
    right: 0;
    height: 100vh;
    width: 100%;
    background-color: white;
    top: 0;
}

#menu > img {
    height: 150px;
}


#menu > a {
    font-family: GothamLight;
    font-size: 2em;
    font-weight: 800;
    line-height: 1.5em;
    text-decoration: none;
    margin: 1px;
}


#menu > h1 {
    font-family: AvenirBook;
    font-size: 4em;
    font-weight: 400;
    line-height: 1.5em;
}

#menu-exit-icon {
    z-index: 4;
    position: fixed;
    top: 22px;
    right: 37px;
    height: 20px;
    width: 20px;
}

.page-grids {
    display: flex;
    align-items: stretch;
    margin: 0 10%;
}

/********************************/
/* HEADER */
/*********************************/

header {
    width:100%;
    text-align:center;
}

header > h3 {
    margin-top: 40px;
    font-family: AvenirLight;
    font-size: 1.25em;
    letter-spacing: 5px;
}

h3 > a {
    text-decoration: none;
}


/********************************
/* FOOTER */
/*********************************/

footer {
    text-align: center;
    background-color: #212121;
    color: #FFF;
    padding: 1em 0 1em 0;
    font-family: GothamXLight;
    font-size: 0.75em;
    font-weight: 100;
    margin-top: 75px;
}

footer > div > h3 {
    margin: 5px 0 15px 0;
    color: #fff;
}

footer > div > img {
    height: 60px;
    margin: 0 15px;
}

